# # Archivos de entorno
# .env
# .env.local
# .env.production
# .env.development

# # Archivos de Docker
# .dockerignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
env/
.venv/

# Logs
*.log

# IDE
.idea/
.vscode/